---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>About</h2>
  <p>
    #govbins is a project to photograph wheelie bins in every UK local council.
  </p>

  <p>
    Started in 2017, the catalogue is the work of dozens of people
    <a href="/submit-photos"> submitting photos </a> from across the UK and beyond.
  </p>
  <h2>Design and code</h2>
  <p>
    This website is made by friends
    <a href="https://www.harrytrimble.co.uk/">Harry Trimble</a> and
    <a href="http://tommyp.org/">Tommy Palmer</a>.
  </p>
  <p>
    <a href="/build">How this site is built</a>.
  </p>
  <h2>Social media</h2>
  <p>
    Follow #govbins on{' '}
    <a href="https://www.instagram.com/govbins.uk/">Instagram</a>
  </p>

  <h2>Press</h2>
  <p>
    <a
      href="https://www.theguardian.com/cities/2018/apr/02/the-beauty-of-bins-instagram-account-catalogues-cities-unique-designs"
    >
      The Guardian
    </a>
  </p>
  <p>
    <a
      href="https://www.creativereview.co.uk/bin-done-visual-catalogue-nations-bins/"
    >
      Creative Review
    </a>
  </p>
  <p>
    <a
      href="https://www.citylab.com/design/2018/03/britains-beautiful-garbage-bins/556217/"
    >
      Bloomberg
    </a>
  </p>
  <p>
    <a
      href="https://inews.co.uk/light-relief/offbeat/local-council-wheelie-bins/"
    >
      The Independent
    </a>
  </p>
  <p>
    <a href="https://qz.com/emails/quartz-obsession/1687384/"> Quartz </a> (scroll
    way down)
  </p>
  <p>
    <a
      href="https://www.gizmodo.co.uk/2020/08/this-website-shows-you-what-bins-look-like-around-the-uk/"
    >
      Gizmodo UK
    </a>
  </p>

  <style>
    p {
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }

    h2 {
      font-size: 1.875rem;
      line-height: 2.25rem;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
    }
  </style>
</Layout>
