<header class="md:flex sm:justify-between pt-4 pr-5 pb-10 pl-5 w-screen">
  <h1 class="pt-2 w-full md:w-1/2 text-4xl"><a href="/">#govbins</a></h1>

  <nav class="sm:mt-5 w-full md:w-1/2 text-xl">
    <ul class="flex flex-row md:justify-end space-x-2 md:space-x-4">
      <li>
        <a href="/submit-photos">
          Submit <span class="hidden md:inline">photos</span>
        </a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/map">Map</a>
      </li>
      <li>
        <a href="/search">Search</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100vw;
    padding: 1rem 1.25rem 2.5rem;
  }

  h1 {
    padding-top: 0.5rem;
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  h1 a {
    display: block;
    text-decoration: none;
  }

  nav {
    width: 100%;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  ul {
    display: flex;
  }

  ul > * + * {
    margin-left: 0.5rem;
  }

  li {
    list-style: none;
  }

  a {
    color: var(--text-color);
  }

  @media (min-width: 576px) {
    nav {
      margin-top: 1.25rem;
    }
  }

  @media (min-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      width: 50%;
    }

    ul {
      justify-content: flex-end;
    }

    ul > * + * {
      margin-left: 1rem;
    }
  }
</style>
