<header>
  <h1 class="pt-2 w-full md:w-1/2 text-4xl">
    <a href="/">
      <a>#govbins</a>
    </a>
  </h1>
  <nav class="sm:mt-5 w-full md:w-1/2 text-xl">
    <ul class="flex flex-row md:justify-end space-x-2 md:space-x-4">
      <li>
        <a href="/submit-photos">
          Submit <span class="hidden md:inline">photos</span>
        </a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/map">Map</a>
      </li>
      <li>
        <a href="/search">Search</a>
      </li>
    </ul>
  </nav>
</header>
