---
import '@fontsource/rubik';
import Header from '../components/Header.astro';
import '../styles/reset.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>#govbins</title>
    <meta property="twitter:title" content="#govbins" />
    <meta property="og:title" content="#govbins" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://govbins.uk/" />

    <meta property="og:description" content="Cataloguing a nation's bins" />
    <meta
      property="og:image"
      content="http://govbins.uk/images/preview-card.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://govbins.uk/" />

    <meta
      property="twitter:description"
      content="Cataloguing a nation's bins"
    />
    <meta
      property="twitter:image"
      content="http://govbins.uk/images/preview-card.png"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Rubik"
      rel="stylesheet"
    />
    <script
      defer
      data-domain="govbins.uk"
      src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    --text-color: rgb(31, 41, 55);
    font-size: 16px;
    background-color: #f8f8f8;
    color: var(--text-color);
    font-family:
      'Rubik',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
</style>
